* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  width: 100%;

  justify-content: space-between;
  align-items: center;
  background-color: #033043;
  padding: 20px 20px;
}

.logo {
  height: 30px;
}
.recipe_logo {
  height: 10vh;
  width: 12vw;
  position: relative;
  bottom: 25px; 
}

.recipe_video_logo{
  width: 103px;
  height: 57px;
  position: relative;
  bottom: 13px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 60px;
  position: relative;
  right: -20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
}

.nav-links a:hover {
  /* text-decoration: underline; */
  color: yellow;
  transition: 0.5s;
}

.search {
  display: flex;
  align-items: center;
  position: relative;
  right: 80px;
}

.search input {
  padding: 5px;
  border: none;
  border-radius: 20px;
  outline: none;
  width: 295px;
  height: 35px;
}

.search button {
  padding: 0;
  font-size: 25px;
  color: black;
  cursor: pointer;
  position: absolute;
  left: 16.6vw;
  width: 2vw;
  /* height: 5.8vh; */
}

/* .search-container button:hover {
  background-color: #ffffff;
} */

.sign-in{
  position: relative;
  left: 20px;
}

.sign-in button{
  width: 6.5vw;
  height: 5vh;
  border-radius: 15px;
  position: absolute;
  right: 40px;
  transition: opacity 0.30s, background-color 0.30s, color 0.30s;
}

.sign-in button:hover
{
    background-color: rgb(37, 37, 60);
    color: white;
    transition: 0.3s;

}

.sign-in button:active
{
    opacity: 0.7;
}


.register{
  position: relative;
  right: 170px;
}

.register button{
  width: 6.5vw;
  height: 5vh;
  border-radius: 15px;
  position: absolute;
}

.register button:hover
{
    background-color: rgb(37, 37, 60);
    color: white;
    transition: 0.3s;
}

.register button:active
{
    opacity: 0.7;
}