.filter-container {
    margin: 20px;
    width: 96vw;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid #e0e0e0;
    padding: 10px;
    text-align: left;
    background-color: #e8f6f8;
  }

  .dropdown-title {
    position: relative;
    background-color: #f0f8f8;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: #4caf50;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
  }

  .dropdown-content {
    background-color: white;
    padding: 10px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  }
  /* .dropdown-content::after{
    transition: all 0.2s ease-in-out;
  }
  .dropdown-content:hover::after{
    visibility: visible;
  transform: scaleX(1);
  } */

  .dropdown-content label {
    display: block;
    margin-bottom: 5px;
    font-size: 17px;
    color: #515050;
    letter-spacing: 2.3px;
    font-family: Radiate Sans Regular;
  }

  .dropdown-content input[type="checkbox"] {
    width: 23px;
    height: 23px;
    margin: 10px;
  }

  th, td {
    width: 25%;
    vertical-align: top;
  }